html {
    background-color: lightgreen;
}
body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    margin: 0;
}
a {
    text-decoration: none;
}
ul, li {
    color: black;
    margin: 0.0001%;
}
ul, li:hover {
    color: aliceblue;
}
.ul1 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 1%;
    width: 100%;
}
.p1 {
    position: absolute;
    margin-top: 2%;
    top: 9%;
    left: 8%;
}
.h2 {
    padding-top: 5%;
}
.h3 {
    font-size: 300%;
    color: dodgerblue;
    position: relative;
}
.h4 {
    position: absolute;
    top: 3%;
    left: 8%;
    margin-bottom: 1%;
}
.div0 {
    text-align: center;
    background-color: dodgerblue;
    border: 1px solid black;
    width: 100%;
    top: -1%;
    position: relative;
    background: 
    linear-gradient(135deg, limegreen 25%, transparent 25%) -50px 0,
    linear-gradient(225deg, dodgerblue 25%, transparent 25%) -50px 0,
    linear-gradient(315deg, lightgreen 25%, transparent 25%),
    linear-gradient(45deg, dodgerblue 25%, transparent 25%);
}
.div1 {
    position: relative;
    width: 99vw;
    background-color: limegreen;
    border-radius: 24px;
    margin-bottom: 1%;
    transition: 1s;
    word-wrap: break-word;
}
.div1:hover {
    width: 90%;
    background-color: rgb(0, 255, 0);
}
.div2 {
    position: relative;
    left: 2%;
    top: 5%;
    margin: 1%;
    width: fit-content;
}
.div3 {
    background-color: dodgerblue;
    position: relative;
    top: 5%;
    width: 30%;
    padding: 1%;
    left: 55%;
    text-align: center;
    border-radius: 20%;
    word-wrap: break-word;
    z-index: 1;
    transition: 1s;
    transform: rotate(-5deg);
}
.div3:hover {
    background-color: rgb(0, 128, 255);
    border-radius: 40%;
    z-index: 2;
    transform: rotate(0deg);
}
.div4 {
    background-color: limegreen;
    left: 35%;
    text-align: center;
    border-radius: 20%;
    position: relative;
    width: 30%;
    word-wrap: break-word;
    padding: 1%;
    top: -3%;
    z-index: 0;
    transition: 1s;
    transform: rotate(5deg);
}
.div4:hover {
    background-color: rgb(0, 255, 0);
    border-radius: 40%;
    z-index: 1;
    transform: rotate(0deg);
}
.div5 {
    position: relative;
    text-align: center;
    width: 100%;
    height: 30%;
    background: radial-gradient(circle, dodgerblue, skyblue);
    border: 1px solid black;
}
.div6 {
    position: absolute;
    top: 30%;
    left: 2%;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.2;
}
.div7 {
    position: relative;
    width: 100%;
    height: 100%;
    top: 15%;
}
.div8 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, dodgerblue, skyblue);
    display: flex;
    z-index: 999;
    align-items: center;
    justify-content: center;
}
.div8dot9 {
    position: relative;
    text-align: center;
    top: -50%;
    width: 100%;
}
.div9 {
    width: 100%;
    height: 45%;
    top: -40%;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}
.div10 {
    width: 9%;
    height: 18%;
    background-image: url('AramiantsHospitalTbilisiLogo.png');
    background-size: cover;
    animation: heartbeat 2.0s infinite;
    position: fixed;
    top: -1%;
    left: 1%;
    z-index: 998;
}
.subdiv1, .subdiv2, .subdiv3 {
    background-color: dodgerblue;
    border-radius: 12px;
    transition: 1s;
    background: repeating-linear-gradient(
        130deg,
        transparent 50px,
        transparent 10px,
        dodgerblue 1000px,
        limegreen 1000px
    );
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
    padding: 0.5%;
}
.subdiv1:hover, .subdiv2:hover, .subdiv3:hover {
    color: aliceblue;
}
.button1 {
    background-color: dodgerblue;
    color: black;
    padding: 1.5% 4%;
    text-align: center; 
    border-radius: 20%;   
    margin: 5% 10%;
    transition: 1s;
}
.button1:hover {
    background-color: rgb(0, 128, 255);
    color: aliceblue;
}
.button2 {
    background: repeating-linear-gradient(
        130deg,
        transparent,
        transparent 10px,
        dodgerblue 1000px,
        limegreen 1000px
    );
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 1s ease;
    border-radius: 20%;
    position: relative;
}
.button2:hover {
    color: aliceblue;
    background-color: rgb(0, 128, 255);
}
.button2::before {
    content: attr(data-tooltip);
    position: absolute;
    top: calc(100% + 5px);
    left: 50%;
    transform: translateX(-50%);
    background-color: limegreen;
    color: white;
    padding: 5px;
    border-radius: 3px;
    font-size: 12px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}
.button2:hover::before {
    opacity: 1;
}
.button3 {
    position: absolute; 
    top: 14%;
    left: 8%;
    background-color: dodgerblue;
    color: black;
    padding: 0.5% 2%;
    border-radius: 12px;
    transition: 1s;
    margin-top: 2%;
}
.button3:hover {
    background-color: rgb(0, 128, 255);
    color: aliceblue;
    border-radius: 50%;
}
.img1 {
    width: 100%;
    height: 25%;
    position: absolute;
    margin: auto;
    z-index: -2;
    opacity: 0.9;
    border-radius: 12px;
    display: block;
}
.img2 {
    width: 2%;
    transition: 1s;
}
.img2:hover {
    width: 3%;
}
@keyframes heartbeat {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
}
@media screen and (max-width: 425px) {
    body {
        width: 100vw;
        height: 400vh;
        overflow-x: hidden;
    }
    ul {
        margin: 5%;
    }
    .div0 {
        top: 0%;
    }
    .div1 {
        position: relative;
        width: 100%;
        margin-bottom: 1%;
        transition: 1s;
    }
    .div1:hover {
        width: 90%;
        background-color: rgb(0, 255, 0);
    }
    .div2 {
        position: relative;
        top: 3%;
        margin: 0.1%;
        width: 90%;
    }
    .div3 {
        top: 10%;
        left: 5%;
        width: 70%;
    }
    .div4 {
        top: 12%;
        width: 70%;
        right: 3%;
        margin-left: -15%;
    }
    .div5 {
        width: 100%;
        height: 15%;
    }
    .div6 {
        position: absolute;
        top: 85%;
        left: 0.1%;
    }
    .div8 {
        width: 100vw;
        height: 100vh;
    }
    .div8dot9 {
        position: relative;
        text-align: center;
        margin-top: -50%;
        margin-bottom: -60%;
        width: 100%;
    }
    .div9 {
        width: 90%;
        height: 50%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .div10 {
        width: 17%;
        height: 10%;
        top: 0.1%;
        left: 0.1%;
    }
    .subdiv1, .subdiv2, .subdiv3 {
        background-color: dodgerblue;
        border-radius: 12px;
        transition: 1s;
        background: repeating-linear-gradient(
            130deg,
            transparent 50px,
            transparent 10px,
            dodgerblue 1000px,
            limegreen 1000px
        );
        box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
        padding: 0%;
        padding-top: 5%;
    }
    .ul1 {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 5%;
        width: 100%;
    }
    .img1 {
        width: 100%;
        height: 18%;
        position: absolute;
        margin: auto;
        z-index: -2;
        opacity: 0.9;
        border-radius: 1%;
        display: block;
    }
    .img2 {
        width: 8%;
    }
    .img2:hover {
        width: 12%;
    }
    .button1 {
        white-space: normal;
        width: 50%;
    }
}