html {
    background-color:bisque;
}
body {
    width: 100vw;
    height: 100vw;
}
.h1 {
    text-align: center;
    margin-bottom: 2%;
}
.h2 {
    padding-top: 5%;
}
.d1 {
    margin-top: 2%;
    background-color:rgb(16, 214, 232);
    position: relative;
    width: 35%;
    padding-right: 1%;
    padding-left: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
    left: 48%;
    text-align: center;
    border-radius: 20%;
    word-wrap: break-word;
    top: -18%;
    margin: 0;
    z-index: 1;
}
.d2 {
    background-color:rgb(12, 184, 49);
    left: 28%;
    text-align: center;
    border-radius: 10%;
    position: relative;
    width: 40%;
    word-wrap: break-word;
    padding-right: 1%;
    padding-left: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
    top: -20%;
    margin: 0;
    z-index: 0;
}
.d3 {
    position: relative;
    width: fit-content;
    top: 4%;
}
.d4 {
    position: relative;
    left: 2%;
    top: 5%;
    margin-bottom: 5%;
    width: fit-content;
}
.b1 {
    background-color: rgb(0, 174, 255);
    color: aliceblue;
    padding-right: 4%;
    padding-left: 4%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    text-align: center;    border-radius: 20%;
    margin-bottom: 5%;
    margin-left:10%;
    margin-right:10%
}
.b2 {
    color: aliceblue;
    background-color: rgb(0, 174, 255);
    border-radius: 20%;
}
.i1 {
    background-color: rgb(196, 229, 245);
    border-radius: 20%;
}
ul,li {
    margin-bottom: 10%;
}
